Checks: 'bugprone-*, cert-*, clang-analyzer-*, cppcoreguidelines-*, google-*, modernize-*, performance-*, readability-*'
CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true